#
unity_ggj2016/Assets/Audio/
unity_ggj2016/Assets/Audio.meta

/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Assets/AssetStoreTools*
UnityGenerated/

ExportedObj/
*.tmp
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

*.pidb.meta
sysinfo.txt

*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

*.sublime-workspace

sftp-config.json

unity_ggj2016/Builds/
unity_ggj2016/Builds/*
